# Ignore generated platform directories
android/** linguist-vendored
ios/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
web/** linguist-vendored

# Explicitly ignore CMake, HTML, and build scripts
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored
*.html linguist-vendored